/* 
!! Inisialisasi konfigurasi awal !!
 */
 *::before,
 *::after,
 * {
     box-sizing: border-box;
     text-decoration: none;
     margin: 0;
     padding: 0;
     border: none;
 
     &::selection {
         background-color: var(--primary);
         color: var(--secondary);
     }
 }
 
 img, svg, a {
     user-select: none;
 }
 
 html {
     scroll-behavior: smooth;
 }
 
 body {
     font-family: 'Inter', serif;
     background-color: #ffffff;
 }
 
 :root {
     --primary: #14B8A6;
     --secondary: #fff;
 
     --text-fade: rgba(0, 0, 0, 40%);
 }



/*
    !!!!!!! MEDIA QUERIES START !!!!!!!!!!
*/
 
 /* Desktop */
 @media screen and (max-width: 1000px) {
     /* BMI CALCULATOR */
     .service-content-container {
         flex-direction: column;
     }
 
     .bmi-calculator-container {
         width: 300px !important;
     }
 }
 
 /* Tablet */
 @media screen and (max-width: 768px) {
     /* NAVBAR */
     header nav {
         padding-inline: 2rem;
     }
 
     .nav-right {
         display: none;
     }
 
     nav #itemExtra {
         display: block !important;
     }

     nav .nav-left {
         font-size: 1.1rem;
     }

     nav .nav-left li a h1 {
        font-size: 1.3rem !important;
     }

     nav .item-extra li svg {
        width: 32px !important;
        height: 32px !important;
     }

     /* JUMBOTRON */
     .jumbotron {
         height: 50vh !important;
         margin-top: 60px !important;
     }
 
     div .jumbotron-content h1 {
         font-size: 3rem;
     }
 
     div .jumbotron-content p {
         width: 85%;
     }
 
     /* MAIN CONTENT */
     main .content-container {
         flex-direction: column;
         padding-inline-start: 0 !important; /* Menambahkan "!important" agar properti yang ditulis menjadi diprioritaskan */
         padding-inline: 2rem !important;
     }
 
     main .main-content-container, .aside-content-container {
         width: 100%;
     }
 
     /* BMI Calculator */
     .service-content-container {
         justify-content: center !important;
         align-items: center !important;
     }

     .rumus-bmi p {
        width: 100% !important;
     }

     /* ASIDE */
     .aside-content-container {
        padding-inline: 0 !important;
     }

     /* FOOTER */
     .footer-content-container p, .footer-content-container ul {
        font-size: 0.8rem !important;
     }
 }
 
 /* Phone */
 @media screen and (max-width: 430px){
     /* NAVBAR */
     header nav {
         padding-inline: 1rem !important;
     }
 
     nav .nav-left {
         font-size: 1rem;
     }
  
     nav .nav-left li a h1 {
        font-size: 1.2rem !important;
     }
 
 
     /* JUMBOTRON */
     div .jumbotron-content h1 {
         font-size: 2rem !important;
     }
 
     .jumbotron {
         height: 40vh !important;
     }

     /* FOOTER */
     .footer-content-container p, .footer-content-container ul {
        font-size: 0.6rem !important;
     }

 }

 /*
    !!!!!!! MEDIA QUERIES END !!!!!!!!!!
 */



/* 
    !! NAVBAR STYLING START !!
*/

 nav {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 999;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     height: 60px;
     background-color: var(--secondary);
     box-shadow: 0px 0px 30px 0px #00000016;
     padding-inline: 4rem;
 }
 
 nav ul {
     display: flex;
     align-items: center;
     list-style-type: none;
     gap: 1rem;
 }
 
 nav .nav-right li a {
    position: relative;
    text-align: end;
    padding-block: 6px;
    color: var(--primary);
    background-color: transparent;
    transition: all 200ms ease-in-out;
    font-weight: 500;
    transition: all 300ms ease-in-out;
}

 nav .nav-right li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 0%;
    height: 10px;
    border-bottom: 2px solid var(--primary);
    transition: all 200ms ease-in-out;
}

nav .nav-right li a:hover::after {
    width: 100%;
}

 nav .nav-left li a {
    font-size: 1.2rem;
    text-align: start;
    color: var(--primary);
 }

 nav .nav-left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
 }

 /* LOGO */
.logo-plus {
    font-size: 1.3rem;
    padding: 8px;
    background-color: var(--primary);
    font-weight: 800;
    clip-path: circle();

    &.logo-plus a {
        color: var(--secondary);
    }
}
 
 nav #itemExtra {
     display: none;
     cursor: pointer;
 
     &#itemExtra li svg {
         stroke: var(--primary);
     }
 }


 
 /* 
    HAMBURGER MENU ITEMS 
*/
 .navbar-menu-items {
    position: absolute;
    top: 70px;
    right: 2rem;
    width: 180px;
    height: 160px;
    background-color: var(--secondary);
    box-shadow:
    0px 0.3px 1.3px rgba(0, 0, 0, 0.003),
    0px 0.8px 3.5px rgba(0, 0, 0, 0.008),
    0px 1.9px 8.4px rgba(0, 0, 0, 0.019),
    0px 5px 28px rgba(0, 0, 0, 0.080);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;

    &.navbar-menu-items a {
        color: var(--text-fade);

        &:hover {
            color: var(--primary);
        }
    }
 }

 .navbar-menu-items.hide {
    height: 0px !important;
 }

 nav .menu-items-container li a {
    position: relative;
    text-align: end;
    padding-block: 6px;
    color: var(--primary);
    background-color: transparent;
    transition: all 200ms ease-in-out;
    font-weight: 500;
    transition: all 300ms ease-in-out;
}

 nav .menu-items-container li a::after {
    content: '';
    position: absolute;
    bottom: 6px;
    display: block;
    width: 0%;
    height: 10px;
    border-bottom: 1.9px solid var(--primary);
    transition: all 200ms ease-in-out;
}

nav .menu-items-container li a:hover::after {
    width: 100%;
}

 .menu-items-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline: 2.6rem;
    padding-block: 2rem;
 }

 .navbar-menu-items .exit-icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: #14B8A6c6;
    }
    
 }
 
 .navbar-menu-items .menu-items-container .exit-icons svg {
    fill: var(--primary);
    transition: all 200ms ease-in-out;
    transform: rotate(0deg);
}

.navbar-menu-items .exit-icons:hover svg {
    fill: var(--secondary) !important;
    transform: rotate(0deg);
 }

 .navbar-menu-items ul {
    display: block;
    line-height: 1.5rem;
 }

 /* 
    !! NAVBAR STYLING END !!
*/
 


 /* 
    !! JUMBOTRON CONTENT STYLING START !!
 */

 .jumbotron {
     position: relative;
     width: 100%;
     height: 60vh;
     margin-top: 60px;
     display: flex;
     background-color: #14B8A6ef;
     justify-content: center;
     align-items: center;
     color: var(--secondary);
     overflow: hidden;
 }
 
 .jumbotron-bg {
     position: absolute;
     z-index: -100;
     top: 0;
     width: 100%;
     height: 100%;
 }
 
 .jumbotron-bg img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
     pointer-events: none;
 }
 
 .jumbotron-content {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     z-index: 100;
 }
 
 .jumbotron-content h1 {
     font-weight: 800;
     font-size: 4rem;
     color: inherit;
 }
 
 .jumbotron-content p {
     margin-top: 0.6rem;
     font-size: 1.1rem;
     color: rgba(255, 255, 255, 80%);
 }
 
 .cta-button {
     margin-top: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     font-weight: 500;
     gap: 8px;
     
     &.cta-button a {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 2px;
         
     }
 
     &.cta-button a svg {
         transform: rotate(-45deg);
         transition: all 100ms ease-in-out;
     }
 }
 
 .cta-button .about {
     background-color: transparent;
     border: 1px solid var(--secondary);
     color: var(--secondary);
     padding-inline: 1.4rem;
     padding-block: 0.7rem;
     border-radius: 12px;
     transition: all 400ms ease-in-out;
     
     &:hover {
         border: 1px solid transparent;
         background-color: var(--secondary);
         color: var(--primary);
     }
 
     &:hover svg {
         transform: rotate(0deg);
     }
 }
 
 .cta-button .service {
     background-color: var(--secondary);
     border: 1px solid transparent;
     color: var(--primary);
     padding-inline: 1.4rem;
     padding-block: 0.7rem;
     border-radius: 12px;
     transition: all 400ms ease-in-out;
 
     &:hover {
         background-color: transparent;
         border: 1px solid var(--secondary);
         color: var(--secondary);
     }
 }

/* 
    !! JUMBOTRON CONTENT STYLING END !! 
*/



/* 
!! MAIN CONTENT STYLING START !!
*/
 
/* 
    !! MAIN ARTICLE & CONTAINER START !!
*/
 main {
     display: flex;
     justify-content: center;
     margin-top: 5rem;
 }
 
 main .content-container {
     display: flex;
     justify-content: center;
     gap: 2.5rem;
     width: 100%;
     padding-inline-start: 5rem;
 }
 
 .main-content-container {
     width: 60%;
 
     &.main-content-container h2 {
         color: var(--primary);
         font-size: 1.6rem;
     }
 
     &.main-content-container article p {
         font-size: 1rem;
         line-height: 1.5rem;
         margin-top: 0.6rem;
         color: #133b3764;
     }
 }

 /* 
    !! MAIN ARTICLE & CONTAINER END !!
*/



 /*
    !! TABLE STYLING START !!
*/
 
 table {
     margin-top: 2rem;
 }
 
 table { 
     border-collapse: collapse; 
     width: 100%; 
 }
 
 th, td { 
     border: 1px solid #00000046;
     padding: 8px;
     text-align: left; 
 }
 
 th {
     background-color: var(--primary);
     color: var(--secondary);
    }
    
td {
     color: var(--primary);
 }

table .ideal {
    background-color: #c8f6f0 !important;
}

tr {
    background-color: #ffffff;
    
    &:hover {
        background-color: #c8f6f040;
    }
 }

 /* 
    !! TABLE STYLING END !!
 */



 /* 
    !! ASIDE CONTENT STYLING START !!
 */
 
 .aside-content-container {
     width: 300px;
     padding-inline: 1rem;
 
     
     &.aside-content-container h2 {
         color: var(--primary);
         font-size: 1.3rem;
     }
 
     &.aside-content-container a {
         width: fit-content;
         display: flex;
         align-items: center;
         gap: 6px;
         color: var(--primary);
         font-size: 1rem;
 
         &:hover {
             text-decoration: underline;
             font-weight: 600;
         }
     }
 
     &.aside-content-container .arrow {
         transform: rotate(-45deg);
     }
     
     &.aside-content-container ul {
         margin-top: 1rem;
         list-style-type: none;
         display: flex; /* Menambahkan properti display flex sebagai syarat menggunakan properti gap */
         
         flex-direction: column;
         gap: 6px; /* Menambahkan gap pada hyperlink aside agar tidak terlalu mepet */
     }
 }

 /*
    !! ASIDE CONTENT STYLING END !!
 */
 


 /* 
 !! BMI CALCULATOR STYLING (MAIN CONTENT) !!
 */
 
 /*
    !! BMI CALCULATOR STYLING START !! 
*/

 #service {
     margin-top: 5rem;
 }
 
 .service-content-container {
     width: 100%;
     display: flex;
     justify-content: start;
     gap: 2rem;
 }
 
 .bmi-calculator-container {
     position: relative;
     display: flex;
     justify-content: start;
     align-items: center;
     width: 370px;
     height: auto;
     padding-block: 2rem;
     background-color: var(--secondary);
     box-shadow:
     0px 0.3px 1.3px rgba(0, 0, 0, 0.003),
     0px 0.8px 3.5px rgba(0, 0, 0, 0.008),
     0px 1.9px 8.4px rgba(0, 0, 0, 0.019),
     0px 5px 28px rgba(0, 0, 0, 0.070);
     border-radius: 12px;
     overflow: hidden;
 }
 
 .bmi-calculator-container .bmi-header {
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     top: 0;
     width: 100%;
     height: 50px;
     padding-block: 12px;
     text-align: center;
     background-color: var(--primary);
     
     &.bmi-header h2 {
         font-size: 1.2rem;
         color: var(--secondary);
     }
 }
 
 .bmi-calculator-content {
     width: 100%;
     margin-top: 50px;
     padding-inline: 2rem;
 
 }
 
 form input {
     display: block;
     border-top: none;
     border-inline: none;
     border-bottom: 2px solid var(--primary);
     width: 90%;
     height: 30px;
     margin-top: 0.7rem;
     font-size: 1.1rem;
     color: var(--primary);
     transition: all 200ms ease-in-out;
 }
 
 form label {
     color: var(--primary);
     font-weight: 500;
 }
 
 form input:focus {
     outline: none;
     width: 100%;
 }
 
 /* MENGUBAH WARNA BORDER SAAT VALUE FORM TIDAK VALID */
 form #beratBadan:user-invalid {
     border-bottom: 2px solid red;
 }
 
 form #tinggiBadan:user-invalid {
     border-bottom: 2px solid red;
 }
 
 form input::placeholder {
     font-size: 1.1rem;
     opacity: 50%;
 }
 
 form {
     display: flex;
     flex-direction: column;
     gap: 2rem;
 }
 
 #submitBmi {
     margin-top: 6px;
     padding-block: 10px;
     background-color: var(--primary);
     color: var(--secondary);
     border-radius: 2rem;
     font-size: 1.1rem;
     font-weight: 600;
     cursor: pointer;
     transition: all 200ms ease-in-out;
 
     &:hover {
         opacity: 80%;
         box-shadow: 0px 0px 9px 6px #14B8A634;
     }
 }
 
 /* MENGUBAH WARNA BORDER SAAT VALUE FORM TIDAK VALID */
 form #beratBadan:user-invalid {
     border-bottom: 2px solid red;
 }
 
 form #tinggiBadan:user-invalid {
     border-bottom: 2px solid red;
 }

 /* 
    !! BMI CALCULATOR END !!
 */
 
 

/* 
    !! BMI RESULT START !!
*/
 .bmi-result-container {
     width: 300px;
     height: fit-content;
     max-height: 100%;
     border-radius: 1rem;
     padding-block: 2rem;
     padding-inline: 1rem;
     background-color: var(--secondary);
     box-shadow:
     0px 0.3px 1.3px rgba(0, 0, 0, 0.003),
     0px 0.8px 3.5px rgba(0, 0, 0, 0.008),
     0px 1.9px 8.4px rgba(0, 0, 0, 0.019),
     0px 5px 28px rgba(0, 0, 0, 0.070);
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: start;
 }
 
 .bmi-result-content {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 .bmi-result {
     width: fit-content;
     padding-inline: 8px;
     padding-block: 4px;
     background-color: var(--primary);
     margin-top: 2rem;
     border-radius: 12px;
 
     &.bmi-result #resultBmi {
         font-size: 3rem;
         color: #b5fff6;
     }
 }

 .bmi-result-container h3 {
    color: var(--primary);
 }
 
 #resultCategory {
     margin-top: 1.3rem;
     text-align: center;
     font-size: 1.2rem;
 }
 
 #hitungUlang {
     display: none;
     width: 100%;
     margin-top: 1.6rem;
     padding-block: 10px;
     background-color: var(--primary);
     color: var(--secondary);
     border-radius: 2rem;
     font-size: 1.1rem;
     font-weight: 600;
     cursor: pointer;
     transition: all 200ms ease-in-out;
 
     &:hover {
         opacity: 80%;
         box-shadow: 0px 0px 9px 6px #14B8A634;
     }
 }

/*
    !! BMI RESULT END !!
*/



 /* 
    !! RUMUS BMI START !! 
 */
 .rumus-bmi {
    margin-top: 6rem;

    &.rumus-bmi h2 {
        font-size: 1.2rem;
    }

    &.rumus-bmi img {
        margin-top: 1rem;
    }

    &.rumus-bmi p {
        color: var(--text-fade);
        width: 50%;
        margin-top: 1rem;
        line-height: 1.5rem !important;
    }
 }

/* 
    !! RUMUS BMI END !!
*/



/* 
    !! BMI TIPS START !!
*/

.bmi-tips {
    width: 100%;
    margin-top: 3rem;

    &p {
        margin-top: 1rem;
    }

    &.bmi-tips .list {
        color: var(--primary) !important;
        font-weight: 600;
    }

    &.bmi-tips ol {
        list-style-position: inside;
        color: var(--text-fade);
    }
}

.bmi-tips ul {
    list-style-position: inside;
    margin-block: 1rem;
    line-height: 1.5rem;
    list-style-type: disc;
}

/* 
    !! BMI TIPS END !!
*/

/* 
    !! MAIN CONTENT STYLING END !!
*/



/*
    !! FOOTER STYLING START !!
*/

footer {
    margin-top: 3rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--secondary);
}

.footer-content-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}


.footer-content-container ul {
    display: flex;
    list-style-type: none;
    gap: 8px;

}

.footer-content-container ul li a:hover {
    text-decoration: underline;
}

.footer-content-container ul::before {
    content: '|';
    margin-inline: 8px;
}

.footer-content-container ul li a {
    color: var(--secondary);
}

/* 
    !!! BODY END !!! 
*/